In [10]:
import pandas as pd
import json

In [33]:
mig_assumptions = pd.read_csv('migration_assumptions.csv', index_col=0, parse_dates=[0])
mig_assumptions.head()

            monthly_under_loi  total_under_loi  onboarding  total_onboarded
Month
2022-09-30                  6               81           3                3
2022-10-31                  7               88           6                9
2022-11-30                  8               96          10               19
2022-12-31                  8              104          15               34
2023-01-31                  9              113          20               54

In [22]:
mig_assumptions.Month = pd.to_datetime(mig_assumptions.Month)

In [42]:
mig_assumptions.resample('Q').sum()

            monthly_under_loi  total_under_loi  onboarding  total_onboarded
Month
2022-09-30                  6               81           3                3
2022-12-31                 23              288          31               62
2023-03-31                 28              367          65              227
2023-06-30                 33              462          66              443
2023-09-30                 37              568          37              568
2023-12-31                 42              688          42              688
2024-03-31                 45              822          45              822
2024-06-30                 49              964          49              964
2024-09-30                 52             1117          52             1117
2024-12-31                 54             1278          54             1278

In [43]:
mig_assumptions

            monthly_under_loi  total_under_loi  onboarding  total_onboarded
Month
2022-09-30                  6               81           3                3
2022-10-31                  7               88           6                9
2022-11-30                  8               96          10               19
2022-12-31                  8              104          15               34
2023-01-31                  9              113          20               54
2023-02-28                  9              122          20               74
2023-03-31                 10              132          25               99
2023-04-30                 11              143          25              124
2023-05-31                 11              154          30              154
2023-06-30                 11              165          11              165
2023-07-31                 12              177          12              177
2023-08-31                 12              189          12              189
2023-09-30                 13              202          13              202
2023-10-31                 13              215          13              215
2023-11-30                 14              229          14              229
2023-12-31                 15              244          15              244
2024-01-31                 15              259          15              259
2024-02-29                 15              274          15              274
2024-03-31                 15              289          15              289
2024-04-30                 16              305          16              305
2024-05-31                 16              321          16              321
2024-06-30                 17              338          17              338
2024-07-31                 17              355          17              355
2024-08-31                 17              372          17              372
2024-09-30                 18              390          18              390
2024-10-31                 18              408          18              408
2024-11-30                 18              426          18              426
2024-12-31                 18              444          18              444

In [6]:
marks = {'Physics':67, 'Maths':87}
internal_marks = {'Practical':48}

marks.update(internal_marks)


print(marks)

# Output: {'Physics': 67, 'Maths': 87, 'Practical': 48}

{'Physics': 67, 'Maths': 87, 'Practical': 48}

In [7]:
marks.update({'Practical': 'test'})

In [8]:
marks

{'Physics': 67, 'Maths': 87, 'Practical': 'test'}

In [14]:
with open('scenario_config.json') as f:
    scenario_assumptions = json.load(f)
    f.close()

In [15]:
scenario_assumptions

{'avg_deposits_balance': 0, 'acct_count': 0}

In [16]:
mig_assumptions.index

RangeIndex(start=0, stop=28, step=1)

In [17]:
new_df = pd.DataFrame(index=mig_assumptions.index)

In [18]:
new_df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]